extends ./../layouts/main

block layout-content
  
  .container-fluid.px-4
    h1.mt-4 Photos
    ol.breadcrumb.mb-4
      li.breadcrumb-item.active= locals.base_url
    
    .row 
      .col-8.offset-md-4
      form(action=`save/${animal.id}`, method="post", enctype="multipart/form-data") 
        .d-flex.align-items-center.gap-2
          input.form-control(type="file", name="images" , multiple)
          input.btn.btn-success(type="submit", value="Upload")
     
    .row.py-5(style="row-gap:20px;")
      each image in images
        .col-md-3.col-12
          .card.p-3.rounded-4.shadow.ml-1.h-100
            img.h-100(src=`${locals.base_url}uploads/${image.image}`).card-img-top 
            a.delete.btn.btn-danger.img-delete-btn(href=`delete/${image.animal_id}/${image.id}`)
                        i.fa-solid.fa-trash-can
          