extends ./../layouts/main

block layout-content
  
 .container-fluid.px-4
  h1.mt-4 Animals
  ol.breadcrumb.mb-4
    li.breadcrumb-item.active Animals
  .card.mb-4
    .card-header.d-flex.justify-content-between.align-items-center
      .d-flex.justify-content-between.align-items-center.gap-3
        i.fa-solid.fa-users
        h4.m-0 List 
      
      a.add.btn.btn-primary(href="animals/add") 
        i.fa-solid.fa-user-plus 
        Add New Animal
  
    .card-body
      table#datatablesSimpless.table
        thead
          tr
            th(scope="col") ID
            th(scope="col") Name
            th(scope="col") Color
            th(scope="col") Age
            th(scope="col") Breed Id
            th(scope="col") Description
            th(scope="col") Short Description
            th(scope="col") Actions
        
        tbody
         each animal in animals
          tr
            td= animal.id
            td= animal.name
            td= animal.color
            td= animal.age
            td= animal.breed_id
            td 
              p= animal.description
            td 
              p= animal.short_description
            td  
              .d-flex.align-items-center.gap-3
                  a.delete.btn.btn-danger(href=`/admin/animals/delete/${animal.id}`, onclick="return confirm('Are you sure you want to delete this animal?');")
                      i.fa-solid.fa-user-minus 
                  a.delete.btn.btn-success(href=`animals/${animal.id}`)
                      i.fa-solid.fa-pen-to-square
                  a.delete.btn.btn-success(href=`animals/photos/${animal.id}`)
                      i.fa-solid.fa-image
                  a.delete.btn.btn-success(href=`animals/facebook/${animal.id}` , onclick="return confirm('Are you sure you want to post ont the Facebook?');")
                      i.fa-brands.fa-facebook